@charset 'UTF-8';
html {
  overflow-y: scroll;
}
.title {
  background-color: #2e7db2;
  color: #fff;
  font-size: 2em;
  border-color: #000;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  padding: 10px;
  text-align: center;
  margin-bottom: 0.75em;
}
#toc a,
#toc a:visited {
  color: #2e7db2;
  font-weight: bold;
  text-decoration: none;
}
a,
a:visited {
  color: #2e7db2;
}
h1 {
  border-color: #aaa;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  font-size: 2.5em;
  margin-bottom: 10px;
}
h2 {
  border-color: #aaa;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  font-size: 2em;
  margin-top: 1em;
}
h3 {
  font-size: 1.5em;
  margin-top: 1em;
}
h4 {
  font-size: 1.25em;
  margin-top: 1em;
}
.function {
  color: #2e7db2;
}
.arg {
  font-size: 75%;
}
.paramName {
  font-weight: bold;
}
.syntaxhighlighter {
  width: 95% !important;
}
dd {
  margin-left: 1.25em;
}
.contentType {
  font-style: italic;
}
.itemType {
  font-style: italic;
}
.privateToggle {
  margin: 1em 0;
}
* > .param p:last-child {
  margin-bottom: 0;
}
.chevron {
  width: 10px;
  padding-right: 2px;
  display: inline-block;
}

