@charset 'UTF-8';

heading() {
  border-color: #aaaaaa;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

$indentMargin = 1.25em;
$doctorColor = #2e7db2;

html {
  overflow-y: scroll;
}

.title {
  background-color: $doctorColor;
  color: white;
  font-size: 2em;
  border-color: black;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  padding: 10px;
  text-align: center;
  margin-bottom: .75em;
}

#toc a, #toc a:visited {
  color: $doctorColor;
  font-weight: bold;
  text-decoration: none;
}

a, a:visited {
  color: $doctorColor;
}

h1 {
  heading();
  font-size: 2.5em;
  margin-bottom: 10px;
}

h2 {
  heading();
  font-size: 2em;
  margin-top: 1em;
}

h3 {
  font-size: 1.5em;
  margin-top: 1em;
}

h4 {
  font-size: 1.25em;
  margin-top: 1em;
}

.function {
  color: $doctorColor;
}

.arg {
  font-size: 75%;
}

.paramName {
  font-weight: bold;
}

.syntaxhighlighter {
  width: 95% !important;
}

dd {
  margin-left: $indentMargin;
}

.contentType {
  font-style: italic;
}

.itemType {
  font-style: italic;
}

.privateToggle {
  margin: 1em 0;
}

* > .param p:last-child {
    margin-bottom: 0;
}

.chevron {
  width: 10px;
  padding-right: 2px;
  display: inline-block;
}