<!DOCTYPE html> 
<html> 
  <head>
    <meta charset="utf-8">
    <title>Doctor</title>
    <link rel="stylesheet"
      href="jquery-ui/css/dark-hive/jquery-ui-1.8.16.custom.css"/>
    <link rel="stylesheet" href="doc.css"/>
    <!--script src="js/jquery-1.7.min.js"></script-->
    <script src="jquery-ui/js/jquery-1.6.2.min.js"></script>
    <script src="jquery-ui/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script src="js/doc.js"></script>
  </head>
  <body>
    <header>
      <span class="title">Doctor</span>
    </header>
    <div id="center">
      <nav id="toc"></nav>
      <div id="content"></div>
    </div>
    <footer id="footer">
      Powered by doctor!
    </footer>
  </body>
</html>
